.footer {
    padding-top: 130px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3rem;
}

.grid-column {
    display: inline-flex;
    flex-direction: column;
}

.footer-header {
    font-family: var(--paragraph-font);
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-link {
    color: var(--white);
    font-size: 13px;
    opacity: 70%;
    margin-bottom: 15px;
}

.newsletter {
    font-family: var(--paragraph-font);
    padding-bottom: 15px;
}

.newsletter-field {
    position: relative;
    background-color: var(--light-dark);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0;
    max-width: 197px;
}

.text-input {
    font-family: var(--paragraph-font);
    background-color: var(--light-dark);
    border: none;
    outline: none;
    color: var(--white);
    width: 145px;
    height: 42px;
    padding: 0 12px;
    border-radius: 10px;
}

.newsletter-submit {
    background-color: var(--red);
    font-size: 22px;
    position: absolute;
    right: 2%;
    padding: 6.2px 11px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--red);
    transition: 0.3s;
}

.newsletter-submit:hover {
    border: 1px solid var(--red);
    background-color: transparent;
    color: var(--red);
}

.footer {
    padding: 20px;
}


.footer-p {
    font-family: var(--paragraph-font);
    margin: 0;
    padding-bottom: 5px;
}

.socialmedia {
    height: 50px;
    display: flex;
    align-items: flex-end;
}

.social-icon {
    color: var(--red);
    font-size: 50px;
    padding: 5px;
    transition: 0.1s ease; 
}

.social-icon:hover {
    font-size: 55px;
}