---
export interface Props {
	title: string;
}
import "../styles/style.css";
import "../assets/img/ConceptiansLogo.png";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
</head>

  <!-- NAVBAR -->
  <header>
    <div class="container">
      <div class="flex navbar">
        <div class="left navbar">
          <a href="">
            <img class="logo" src="/assets/images/ConceptiansLogo.png" alt="Conceptians LOGO">
          </a>
        </div>
        <div class="right navbar">
          <ul class="flex">
            <li><a href="">Home</a></li>
            <li><a href="">Community</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Resources</a></li>
            <li><a href="">Podcast</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <!-- BODY -->
  <body>
	  <slot />
  </body>
  <!-- Footer -->
  <footer>

  </footer>
</html>

<style>

</style>
